# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

site_name: KMPrefs
site_description: KMPrefs library documentation
site_url: https://io.github.n7ghtm4r3/KMPrefs/

repo_name: KMPrefs
repo_url: https://github.com/N7ghtm4r3/KMPrefs
site_author: Manuel Maurizio

theme:
  name: material
  custom_dir: overrides
  palette:
    - scheme: default
      primary: light blue
      accent: cyan
      toggle:
        icon: material/brightness-4
        name: Switch to dark mode
    - scheme: slate
      primary: light blue
      accent: cyan
      toggle:
        icon: material/brightness-7
        name: Switch to light mode
  language: en

  features:
    - search.suggest
    - search.highlight
    - search.share
    - content.tabs.link
    - content.code.copy
    - navigation.footer

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - admonition
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - md_in_html

plugins:
  - search

extra:
  social:
    - icon: material/email
      link: mailto:infotecknobitcompany@gmail.com
    - icon: material/bug
      link: https://github.com/N7ghtm4r3/KMPrefs/issues/new

copyright: |
  &copy; 2025 <a href="https://github.com/N7ghtm4r3" target="new">N7ghtm4r3 - Tecknobit</a>